<div class="flex flex-col px-4 mb-4 pb-4 border-b border-slate-400">
    <div class="flex gap-3">
        <p-checkbox 
      class="border border-slate-500 rounded-lg" 
      [binary]="true" 
      [(ngModel)]="taskCompleted" 
      (onChange)="toggleTaskStatus(task)"
    ></p-checkbox>
        <h5>{{task.title}} -</h5>
        <h5>{{task.limit_date | date}}</h5>
    </div>
    <h5 class="font-semibold my-3">Personas Asociadas</h5>
    <ul class="list-disc ms-6" *ngFor="let person of task.persons">
        <li class="mb-3">{{person.fullname}} ({{person.age}})<br>
            <span class="font-medium">Habilidades:</span> <span *ngFor="let skill of person.skills">{{skill}},</span> 
        </li>
    </ul>
</div>