<div class="flex flex-col items-center">
    <div class="p-4 w-11/12 md:w-7/12 lg:w-6/12 mt-5">
        <h3 class="text-xl font-medium text-center">Lista de Tareas</h3>
    </div>

    <div class="w-11/12 md:w-7/12 lg:w-6/12 flex flex-col md:flex-row md:justify-between items-center">
        <h6 class="font-medium w-full mb-3 md:mb-0">Filtros</h6>
        <div class="flex gap-3">
            <button type="button" pButton pRipple
                [ngClass]="(filterSelected == 'Todos') ? 'bg-slate-900 text-white' : 'hover:bg-slate-900 hover:text-white text-slate-900 border border-slate-900'"
                class="px-4 py-1 rounded-full" (click)="getTasks()">Todos</button>
            <button type="button" pButton pRipple
                [ngClass]="(filterSelected == 'Completados') ? 'bg-slate-900 text-white' : 'hover:bg-slate-900 hover:text-white text-slate-900 border border-slate-900'"
                class="px-4 py-1 rounded-full" (click)="filterByCompletedTasks()">Completadas</button>
            <button type="button" pButton pRipple
            [ngClass]="(filterSelected == 'Pendientes') ? 'bg-slate-900 text-white' : 'hover:bg-slate-900 hover:text-white text-slate-900 border border-slate-900'"
            class="px-4 py-1 rounded-full"
                (click)="filterByPendingTasks()">Pendientes</button>
        </div>
    </div>

    <div class="w-full flex flex-col justify-center items-center mt-8">
        <app-task-card *ngFor="let task of filteredTasks" [task]="task"></app-task-card>
    </div>

</div>